body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    font-size: 18px;
}

ul, ol {
    font-size: 12px;
}

.header {
    font-size: 20px;
}

img {
    height: auto;
    width: 500px;
}

.c_list {
    display: flex;
    list-style: none;
}

.r_buttons {
    background-color: rgb(236, 216, 255);
    border: 2px solid gray;
    text-align: center;
    margin: 2px;
    height: 20px;
    width: 125px;
}